.navbar-default .navbar-nav>.active>a,
.consultation a:hover,
.introduction button,
.introduction a:hover,
#services button,
.subscribe-content button,
.gal-overlay:hover button,
#contact-us input[type="submit"],
.footer-top .fa,
.option-box .gear-check

{
    background-color: #0ab610;
}

.about-bottom span,
.services-top h2 span,
.services-bottom .fa,
.serv-right span,
#testimonials span
{
    color: #0ab610;

}

.option-box .color-option {
    
    color: #0ab610;
    border: 2px solid #0ab610;

}


#testimonials .carousel-indicators li {

    border: 3px solid #0ab610;

}






